#page {
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 15% 85%;
    grid-template-areas:
        "hd hd"
        "side main"
}
.header {
    grid-area: hd;
    background-color: red;
    text-align: center;
}
#addBooks {
    grid-area: side;
    background-color: dodgerblue;
}
#newBook {
    margin: 10px;
}
#newBookForm {
    display: none;
}
#displayCards {
    grid-area: main;
    display: grid;
    grid-template-rows: repeat(3, 30%);
    grid-gap: 10px;
    background-color:forestgreen;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 10px;
  max-width: 30%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
button {
    font-size: inherit;
    font-family: inherit;
}
input {
    font-size: inherit;
    font-family: inherit;
    margin: 3px;
}
input:focus {
    border-color: #000
}